# ------------------------------------------------------------------
# TMDB API (Get the keys for free in https://www.themoviedb.org/settings/api)
API_KEY=your_key_key
API_READ_ACCESS_TOKEN=your_read_key_here
LANGUAGE=es-ES
# ------------------------------------------------------------------

# ------------------------------------------------------------------
# MyMovieList APP
SERVER_PORT=7776
SERVER_HOST=localhost
# ------------------------------------------------------------------

# ------------------------------------------------------------------
# Database (Standard configuration for Docker)
DB_NAME=MyMovieList
DB_HOST=db # Change it to 'localhost' if you don't use Docker
DB_PORT=3306
DB_USER=user
DB_PASS=123
# ------------------------------------------------------------------